@mixin container() {
  max-width: 1300px;
  margin: auto;
  width: 79%;
  @include mQ(600px) {
    width: 90%;
  }
}

@mixin centerItem() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mQ($respond) {
  @media (max-width: $respond) {
    @content;
  }
}
