@use "../../styles/mixins" as *;

.hero {
  background: url("../../assets/herobg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 91% -245px;
  position: relative;
  z-index: 1;
  @include mQ(600px) {
    height: 95vh !important;
    background-position: 61% -245px;
  }
  @include mQ(380px) {
    height: 87vh !important;
  }
  .content {
    @include container();
    h2 {
      font-weight: 600;
      max-width: 450px;
      @include mQ(500px) {
        max-width: 350px !important;
      }
    }
    p {
      max-width: 390px;
      @include mQ(500px) {
        max-width: 276px !important;
      }
    }
  }
}
