@use "../../sass/mixins" as *;

.home {
  .heading {
    @include mQ(600px) {
      margin-top: -12rem !important;
    }
    @include mQ(500px) {
      margin-top: -10rem !important;
    }
    @include mQ(380px) {
      margin-top: -1rem !important;
    }
  }
  .main {
    @include container();
  }
  .home__footer {
    background: linear-gradient(
      359.61deg,
      rgba(122, 200, 143, 0.25) 0.18%,
      rgba(122, 200, 143, 0) 75.24%
    );
    height: 30vh;
  }
}
