@import "../../sass/mixins";

.container {
  width: 50px;
  height: 25px;
  border: 1.5px solid #53c28b70;
  border-radius: 30px;
  @include flexBox(space-between, center);
  padding: 4px;
  position: relative;
  cursor: pointer;

  @include mQ(600px) {
    width: 54px;
  }

  .icon {
    font-size: 12px;
  }

  .ball {
    width: 15px;
    height: 15px;
    background-color: #53c28b;
    border-radius: 50%;
    position: absolute;

    @include mQ(600px) {
      width: 20px;
      height: 20px;
    }
  }
}
