@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  max-width: 1300px;
  margin: auto;
  width: 79%;
}
.p-editor-container .p-editor-content .ql-editor {
  font-size: 1.1rem !important;
}
.ql-editor.ql-blank::before {
  font-family: "Source Sans Pro", sans-serif !important;
  color: rgba(108, 108, 108, 0.6);
  font-style: normal !important;
  font-weight: 600 !important;
}
.p-editor-container .p-editor-content.ql-snow,
.p-editor-container .p-editor-toolbar.ql-snow {
  border: 1px solid #d0edd8 !important;
}
.p-multiselect:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled):hover {
  box-shadow: 0 0 0 0.2rem #d0edd8 !important;
  border: 0.1px #62df81 !important;
  border-width: 0.3px !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #000 !important;
  background: #f0fff4 !important;
}
.p-multiselect-item:focus,
.p-multiselect-item:hover {
  background: #62df81 !important;
  color: #fff;
}
.p-checkbox .p-checkbox-box {
  border: 1px solid #62df81 !important;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  background: #62df81 !important;
  border: 1px solid #d0edd8 !important;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #62df81 !important;
  background: #62df81 !important;
}
.p-checkbox .p-checkbox-box.p-highlight:hover {
  border: 1px solid #d0edd8 !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  box-shadow: inset 0 0 0 0.15rem #d0edd8 !important;
}
.p-multiselect:focus {
  border: 1px solid red;
}
.footer {
  background: linear-gradient(
    359.61deg,
    rgba(122, 200, 143, 0.25) 0.18%,
    rgba(122, 200, 143, 0) 75.24%
  );
  height: 30vh;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
