@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  max-width: 1300px;
  margin: auto;
  width: 79%;
}
.p-editor-container .p-editor-content .ql-editor {
  font-size: 1.1rem !important;
}
.ql-editor.ql-blank::before {
  font-family: "Source Sans Pro", sans-serif !important;
  color: rgba(108, 108, 108, 0.6);
  font-style: normal !important;
  font-weight: 600 !important;
}
.p-editor-container .p-editor-content.ql-snow,
.p-editor-container .p-editor-toolbar.ql-snow {
  border: 1px solid #d0edd8 !important;
}
.p-multiselect:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled):hover {
  box-shadow: 0 0 0 0.2rem #2ba44b !important;
  border: 0.1px #2ba44b !important;
  border-width: 0.3px !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #000 !important;
  background: #f0fff4 !important;
}
.p-multiselect-item:focus,
.p-multiselect-item:hover {
  background: #2ba44b !important;
  color: #fff;
}
.p-checkbox .p-checkbox-box {
  border: 1px solid #62df81 !important;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  background: #169639 !important;
  border: 1px solid #169639 !important;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #169639 !important;
  background: #169639 !important;
}
.p-checkbox .p-checkbox-box.p-highlight:hover {
  border: 1px solid #169639 !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  box-shadow: inset 0 0 0 0.15rem #2ba44b !important;
}
.p-editor-container .p-editor-content .ql-editor {
  background: transparent !important;
}
.p-editor-container .p-editor-toolbar {
  background: transparent !important;
}
.ql-image {
  display: none !important;
}
.ql-code-block {
  display: none !important;
}
.theme {
  transition: 0.5s all ease;
}
.light {
  background-color: white;
  color: #111;
}
.dark {
  background-color: #111;
  color: #bbb;
}
.text-break {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
.footer {
  background: linear-gradient(
    359.61deg,
    rgba(122, 200, 143, 0.25) 0.18%,
    rgba(122, 200, 143, 0) 75.24%
  );
  height: 30vh;
}
@keyframes popIn {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.pop-in-animation {
  animation-name: popIn;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
}
.user__initials {
  font-size: 1.6rem;
  font-weight: 700;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
  .user__initials {
    height: 2.6rem;
    width: 2.6rem;
  }
}
