@import "../../../sass/mixins";

.post__details {
  .hero {
    background-color: #f2fff5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100px;
    margin-top: 1rem;
  }
  .left__quarter {
    width: 60%;
    padding-right: 1.5rem;
    border-right: 0.5px solid #e5e7eb;
    @include mQ(1000px) {
      width: 100%;
      padding-right: 0;
      border-right: 0;
      border-bottom: 0.5px solid #e5e7eb;
    }
  }
  .right__quarter {
    padding-left: 1rem;
    width: 40%;
    @include mQ(1000px) {
      width: 100%;
      padding-left: 0;
    }
    & > div {
      border-bottom: 0.5px solid #e5e7eb;
    }
  }
  .posts__footer {
    width: 100%;
    background: linear-gradient(
      359.61deg,
      rgba(122, 200, 143, 0.25) 0.18%,
      rgba(122, 200, 143, 0) 75.24%
    );
    height: 50vh;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
  }
  .menu__items {
    position: fixed;
    right: -400px;
    top: 0;
    background: #fff;
    padding: 1rem;
    z-index: 100;
    width: 400px;
    height: auto;
    height: 100%;
    line-height: 3;
    overflow-y: scroll;
    transition: right 0.5s ease;

    @include mQ(600px) {
      width: 380px;
    }
  }
  .menu__items.show {
    right: -1px;
  }
}
